
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Content/Login.css">
</head>

<body>
    <!-- START -->
    <div class="wrapper">
        <div class="logo">
            <img src="~/Images/logo tortas.png" alt="">
        </div>
        <div class="text-center mt-4 name">
            <br />
            <br />
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                @*<span class="far fa-user"></span>*@
                <input type="text" name="userName" id="userName" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                @*<span class="fas fa-key"></span>*@
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            @*<button class="btn mt-3" id="btnLogin">Login</button>*@
            <input type="button" class="btn mt-3" id="btnLogin" value="Iniciar Sesion">
        </form>
        <div class="text-center fs-6">
            <br />
            <br />
            <a href="#">Olvidaste tu contraseña?</a> o <a href="#">Registrate</a>
        </div>
    </div>
</body>
